html {
	background-image: url("../images/background/popup-topLeft.png"),
	url("../images/background/popup-topRight.png"),
	url("../images/background/popup-bottomLeft.png"),
	url("../images/background/popup-bottomRight.png");
	background-position: top left, top right, bottom left, bottom right;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.8);
}

body {
	background-color: rgba(255, 255, 255, 0.2);
}

/* Text */
#maana-name, #maana-unit,
#gold-name, #gold-unit,
#m5-name, #m5-unit,
#cad-name, #cad-unit,
#p5-name, #p5-unit,
#eur-name, #eur-unit {
	font-family: Rubik, cursive;
	font-weight: bold;
	font-size: 18px;
	color: rgb(52, 56, 111);
}

button {
	background-color: #2293fb;
	border: 2px solid #2293fb;
	border-radius: 25px;
	font-family: Rubik, cursive;
	font-size: 14px;
	color: #fff;
	padding: 4px 8px;
	cursor: pointer;
	line-height: 100%;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	min-width: 61.803398875%;
}

button:hover {
    background-color: #ffffff;
	color: #2293fb;
}

input {
	font-size: 14px;
	font-family: Rubik, cursive;
	line-height: 1.5;
	min-width: 61.803398875%;
	background-color: #f6f6f6;
	outline: none;
	height: 22px;
	border: 1px solid #aaa;
	border-radius: 7px;
	text-align: center;
}